
.sideBar {
    background-color: #5bc0de;
    color: white;
    margin: 0px;
    height: 700px;
    
}

#separation{
    background-color: orangered;
    width: 40px;
    height: 5px;
    margin-bottom: 20px;
}

#photoProfil {
    width: 50%;
    border-radius: 5px;
    margin: 10px;
    border: 1px solid white;
}

#titreSidebar {
    font-size: 20px;
}

#image_fond_haut {
    width: 100%;
}

#mainContainer {
    text-align: center;
    padding: 0px;
}

#infosDiv {
    padding: 20px;
}

#experienceDiv {
    padding: 20px;
}

.entrepriseDiv {
    
}

#titreEntreprise {
    font-weight: bold;
    margin-bottom: 2px;
}

#dateEntreprise {
    color: #367385;
    margin-bottom: 2px;
}

#texteEntreprise {
    text-align: justify;
    font-size: small;
}

#lien {
    color: darkblue;
}
@media all and (min-device-width: 1000px) {
    #title {
        font-size: 55px;
        font-weight: bold;
    }   
    
    header {
        background-image: url("fond_haut.jpg");
        height: 250px;
        color: white;
        padding-top: 55px;
        
    }

    #subtitle {
        font-size: 20px;
        font-weight: bold;
    }

    #mainDiv {
        width: 80%;
        margin: auto;
    }
    #middleTitle {
        text-align: left;
        color: black;
    }
}



@media all and (max-device-width: 1000px) {

    header {
        background-image: url("fond_haut.jpg");
        height: 150px;
        color: white;
        padding-top: 25px;
        
    }

    #subtitle {
        font-size: 30px;
        font-weight: bold;
    }


    #title {
        font-size: 70px;
        font-weight: bold;
    }
    #middleTitle {
        text-align: left;
        font-size: 30px;
    }
    #text {
        font-size: 20px;
    }
}